<link rel="stylesheet" href="./css/home.css">
<div id="welcome">
	<h2>welcome <span id="username"><%- username %></span></h2>
	<form id="logout" action="/logout" method="POST">
		<input id="submit" class="btn btn-danger" type="submit" value="Log out">
	</form>
</div>
<h4>Joined room</h4>
<div id="joined-room">
	<% if(rooms.length != 0) { %>
		
		<% rooms.forEach(function (room){ %>
			<a class="text-break room" href="/<%- room.roomid%>">
				<h5 class="room-name"><span>Room </span><%- room.room_name %></h5>
			</a>
		<% }); %>
		
	<% } else { %>
		<h4>You have not joined any rooms yet</h4>
	<% }; %>
</div>
<div>
	<h2 class="error" id="join-error"></h2>
</div>
<form class="input-group mb-3" id="join-room-form" action="/join" method="POST">
	<input class="form-control" id="roomId" type="text" name="roomId" placeholder="Room ID">
	<input class="btn btn-success" id="submit-join-room-form" type="submit" value="Join room">
</form>
<button class="btn btn-outline-primary" id="open-create-room-form">Create room</button>
<div>
	<h2 class="error" id="create-error"></h2>
</div>
<form class="input-group mb-3" id="create-room-form" action="/create" method="POST" hidden>
	<input class="form-control" id="roomName" type="text" name="roomName" placeholder="Room name">
	<input class="btn btn-primary" id="submit-create-room-form" type="submit" value="Create room">
</form>

<script>
	const logoutBtn = document.querySelector("#submit");

	const submitJoinRoomFormBtn = document.querySelector("#submit-join-room-form");
	const joinRoomForm = document.querySelector("#join-room-form");
	const joinRoomErrorElement = document.querySelector("#join-error");

	const openCreateRoomFormBtn = document.querySelector("#open-create-room-form");
	const submitCreateRoomFormBtn = document.querySelector("#submit-create-room-form");
	const createRoomForm = document.querySelector("#create-room-form");
	const createRoomErrorElement = document.querySelector("#create-error");

	// JOIN ROOM
	joinRoomForm.addEventListener("submit",async function(e) {
		e.preventDefault();
		const roomId = document.querySelector("#roomId").value.trim();
		disableButtons(true);
		
		if(!roomId) {
			joinRoomErrorElement.textContent = "Please enter room id";
			disableButtons(false);
			return;
		}

		try {
			const response = await fetch("/join", {
				method: "POST",
				headers: {"Content-Type" : "application/json"},
				body: JSON.stringify({roomId}),
			})
			
			const data = await response.json();
			
			if(data.error) {
				joinRoomErrorElement.textContent = data.error;
				disableButtons(false);
			}
			else {
				location.assign(`/${data.roomid}`);
			}

		}
		catch(err) {	
			console.log(err);
		}
	
	})


	// CREATE ROOM
	openCreateRoomFormBtn.onclick = function () {
		openCreateRoomFormBtn.hidden = true;
		createRoomForm.hidden = false;
	}
	createRoomForm.addEventListener("submit", function(e) {
		e.preventDefault();
		const roomName = document.querySelector("#roomName").value.trim();
		disableButtons(true);
		
		if(!roomName) {
			createRoomErrorElement.textContent = "Please enter room name";
			disableButtons(false);
			return;
		}

		this.submit();
	})

	function disableButtons(isDisabled) {
		submitJoinRoomFormBtn.disabled = isDisabled;
		openCreateRoomFormBtn.disabled = isDisabled;
		submitCreateRoomFormBtn.disabled = isDisabled;
		logoutBtn.disabled = isDisabled;
	}
</script>