<h2>Login</h2>
<form id="login" method="POST">
	<h3 id="error"></h3>
	<input type="text" name="username" id="username" placeholder="Username">
	<input type="password" name="password" id="password" placeholder="Password">
	<input type="submit" id="submit" value="Login">
</form>
<a href="/register">Register</a>

<script>
	const loginForm = document.querySelector("#login");
	loginForm.addEventListener("submit", async e => {
		e.preventDefault();
		const username = document.querySelector("#username").value;
		const password = document.querySelector("#password").value;
		const errorElement = document.querySelector("#error");
		const submitBtn = document.querySelector("#submit");

		submitBtn.disabled = true;
		errorElement.textContent = '';

		const response = await fetch("/login", {
			method: "POST",
			headers: {
				"Content-Type": "application/json",
			},
			body: JSON.stringify({ username, password })
		});

		const data = await response.json();

		if(data.error) {
			errorElement.textContent = data.error;
			submitBtn.disabled = false;
		}
		else {
			location.assign("/");
		}
	})
</script>
