<link rel="stylesheet" href="./css/login-register.css">
<h2>Register</h2>
<h3 id="error"></h3>
<form id="register" method="POST">
	<input class="form-control" type="text" name="username" id="username" placeholder="Username">
	<input class="form-control" type="password" name="password" id="password" placeholder="Password">
	<input class="btn btn-primary" type="submit" id="submit" value="Register">
</form>
<a href="/login">Log in</a>

<script src="./js/register.js"></script>