<a href="/">Back to home</a>
<h2>ROOM: <%- room.room_name %></h2>
<h4>Room ID: <%- room.roomid %></h4>
<form action="/leave" method="POST">
	<input type="text" name="roomId" id="roomId" value="<%= room.roomid %>" hidden>
	<input type="submit" value="Leave room">
</form>